<p>
  <strong>Comentador:</strong>
  <%= comment.commenter %>
</p>
 
<p>
  <strong>Comentario:</strong>
  <%= comment.body %>
</p>

<p>
  <%= link_to 'Eliminar Comentario', [comment.article, comment],
               method: :delete,
               data: { confirm: '¿Esta seguro?' } %>
</p>

