<h1>¡¡¡Bienvenidos!!!</h1>
<%= link_to 'Mi Blog', controller: 'articles' %>

<!-- Pagina principal, archivo creado mediante rails generate controller welcome index, esto se mostrara cuando se acceda a la pagina principal no sin antes cambiar la ruta -->